:root {
    --primary-color: #0D30C6;
    --azul-forte: #081f5c;
}

/* Estilo padrão para a fonte Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Classes para os diferentes pesos da fonte Montserrat */
.font-montserrat-light {
    font-weight: 300; /* Light */
}

.font-montserrat-normal {
    font-weight: 400; /* Normal */
}

.font-montserrat-bold {
    font-weight: 700; /* Bold */
}

/* Classe para a cor primária */
.azul-futuro {
    color: var(--primary-color);
}

.azul-escuro {
    color: #081f5c;
}

/* Estilo inicial do navbar */
.navbar {
    background-color: rgb(253, 241, 239); 
}
  
/* Estilo do navbar ao rolar */
.navbar.scrolled {
    background-color: white; /* Branco com 80% de transparência */
}
  

.hero-section {
    background-color: #FDF1EF;
    height: 100vh; /* 100% da altura da tela */
    align-items: center;
}

.icon-box img {
    width: 60px; /* ou o tamanho que preferir */
    height: auto; /* mantém a proporção da imagem */
    margin-bottom: 1rem; /* espaço abaixo do ícone */
}

/* Adicione isso no seu arquivo CSS */
@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}



